<div>
    <h3>DetailMovie</h3>

    <h4>Le film selectionné est : @Movie.Title</h4>

    <p>Realisateur : @Movie.Realisateur</p>
    <p>Année de sortie : @Movie.AnneeDeSortie</p>
    <p>Synopsis : @Movie.Synopsis</p>
</div>