@page "/ex1"

<h3>ComposantParent</h3>

<div>
    <input @bind-value="@Name" />
</div>

<ComposantEnfant Name="@Name"
                 RetourEnfant="@RetourEnfant" />

<br />
@foreach (var reponse in ReponseEnfants)
{
    @reponse <br />
}

@code {

}
